In [1]:
import pandas as pd
import pandas_ta as ta
from datetime import datetime
import numpy as np
import yfinance as yf

#### The S&P 500 Index features 500 leading U.S. publicly traded companies, with a primary emphasis on market capitalization. <br> Because of its depth and diversity, the S&P 500 is widely considered one of the best gauges of large U.S. stocks, and even the entire equities market.
#### The SPDR S&P 500 ETF Trust ("SPY") is one of the most popular funds that aims to track the S&P 500 Index. <br> It is often regarded as the first ETF to be listed and remains one of the most actively traded, even with the advent of competing S&P 500 ETFs.

## Obtain Price Data through yfinance library

In [2]:
# spy OHLC data
spy = yf.download(tickers = "SPY",  # list of tickers
            start = '1993-01-29',   # time period
            interval = "1d",        # trading interval
            prepost = False,        # download pre/post market hours data?
            repair = False)         # repair obvious price errors e.g. 100x?
spy

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.029366,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.207394,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.260784,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.527815,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.634636,531500
...,...,...,...,...,...,...
2023-06-12,430.920013,433.880005,430.170013,433.799988,432.194550,76104300
2023-06-13,435.320007,437.329987,434.630005,436.660004,435.043976,95899700
2023-06-14,437.010010,439.059998,433.589996,437.179993,435.562042,100612100
2023-06-15,436.329987,443.899994,436.230011,442.600006,440.962006,110303100
2023-06-16,443.019989,443.609985,438.970001,439.459991,439.459991,114121300

#### The Cboe Volatility Index (VIX) is a real-time index that represents the market’s expectations for the relative strength of near-term price changes of the S&P 500 Index (SPX). <br> It is an important index in the world of trading and investment because it provides a quantifiable measure of market risk and investors’ sentiments.

In [3]:
# vix OHLC data
vix = yf.download(tickers = "^VIX",      # list of tickers
            #period = "20y",             # time period
            start = '1993-01-29',
            interval = "1d",             # trading interval
            prepost = False,             # download pre/post market hours data?
            repair = False)              # repair obvious price errors e.g. 100x?
vix

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close  Volume
Date
1993-01-29  12.49  13.16  12.42  12.42      12.42       0
1993-02-01  12.51  12.92  12.18  12.33      12.33       0
1993-02-02  12.47  12.89  12.22  12.25      12.25       0
1993-02-03  11.98  12.34  11.79  12.12      12.12       0
1993-02-04  11.86  12.84  11.69  12.29      12.29       0
...           ...    ...    ...    ...        ...     ...
2023-06-13  14.99  15.06  14.47  14.61      14.61       0
2023-06-14  14.48  14.73  13.83  13.88      13.88       0
2023-06-15  14.09  14.52  13.79  14.50      14.50       0
2023-06-16  14.49  14.54  13.48  13.54      13.54       0
2023-06-19   0.00   0.00   0.00  14.19      14.19       0

[7652 rows x 6 columns]

In [4]:
# Add in VIX Close to dataset
spy['VIX Close'] = vix['Close']
spy

,Open,High,Low,Close,Adj Close,Volume,VIX Close
Date,,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.029366,1003200,12.42
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.207394,480500,12.33
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.260784,201300,12.25
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.527815,529400,12.12
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.634636,531500,12.29
...,...,...,...,...,...,...,...
2023-06-12,430.920013,433.880005,430.170013,433.799988,432.194550,76104300,15.01
2023-06-13,435.320007,437.329987,434.630005,436.660004,435.043976,95899700,14.61
2023-06-14,437.010010,439.059998,433.589996,437.179993,435.562042,100612100,13.88
2023-06-15,436.329987,443.899994,436.230011,442.600006,440.962006,110303100,14.50
2023-06-16,443.019989,443.609985,438.970001,439.459991,439.459991,114121300,13.54

In [5]:
spy.reset_index(inplace=True)
spy

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,25.029366,1003200,12.42
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,25.207394,480500,12.33
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,25.260784,201300,12.25
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,25.527815,529400,12.12
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,25.634636,531500,12.29
...,...,...,...,...,...,...,...,...
7646,2023-06-12,430.920013,433.880005,430.170013,433.799988,432.194550,76104300,15.01
7647,2023-06-13,435.320007,437.329987,434.630005,436.660004,435.043976,95899700,14.61
7648,2023-06-14,437.010010,439.059998,433.589996,437.179993,435.562042,100612100,13.88
7649,2023-06-15,436.329987,443.899994,436.230011,442.600006,440.962006,110303100,14.50
7650,2023-06-16,443.019989,443.609985,438.970001,439.459991,439.459991,114121300,13.54

## Add in Technical Analysis Data through pandas_ta Library

In [6]:
# list of all indicators available
spy.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

#### Moving Average Convergence/Divergence indicator is a momentum oscillator primarily used to trade trends. <br> MACD can help gauge whether a security is overbought or oversold, alerting traders to the strength of a directional move, and warning of a potential price reversal. <br> MACD can also alert investors to bullish/bearish divergences (e.g., when a new high in price is not confirmed by a new high in MACD, and vice versa), suggesting a potential failure and reversal.

In [7]:
# add in macd
spy.ta.macd(close='close', fast=12, slow=26, signal=9, append=True)

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
7646      5.077025       1.114250       3.962775
7647      5.578689       1.292731       4.285958
7648      5.949637       1.330943       4.618694
7649      6.604829       1.588908       5.015921
7650      6.792402       1.421185       5.371217

[7651 rows x 3 columns]

#### The relative strength index (RSI) is a momentum indicator used in technical analysis. RSI measures the speed and magnitude of a security's recent price changes to evaluate overvalued or undervalued conditions in the price of that security.

In [8]:
# add in RSI
spy.ta.rsi(close='close', length = 14, append=True)
spy.head(40)

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_14
0,1993-01-29,43.96875,43.96875,43.75000,43.93750,25.029366,1003200,12.420000,NaN,NaN,NaN,NaN
1,1993-02-01,43.96875,44.25000,43.96875,44.25000,25.207394,480500,12.330000,NaN,NaN,NaN,NaN
2,1993-02-02,44.21875,44.37500,44.12500,44.34375,25.260784,201300,12.250000,NaN,NaN,NaN,NaN
3,1993-02-03,44.40625,44.84375,44.37500,44.81250,25.527815,529400,12.120000,NaN,NaN,NaN,NaN
4,1993-02-04,44.96875,45.09375,44.46875,45.00000,25.634636,531500,12.290000,NaN,NaN,NaN,NaN
5,1993-02-05,44.96875,45.06250,44.71875,44.96875,25.616823,492100,12.900000,NaN,NaN,NaN,NaN
6,1993-02-08,44.96875,45.12500,44.90625,44.96875,25.616823,596100,13.220000,NaN,NaN,NaN,NaN
7,1993-02-09,44.81250,44.81250,44.56250,44.65625,25.438814,122100,13.480000,NaN,NaN,NaN,NaN
8,1993-02-10,44.65625,44.75000,44.53125,44.71875,25.474415,379600,13.430000,NaN,NaN,NaN,NaN
9,1993-02-11,44.78125,45.12500,44.78125,44.93750,25.599031,19500,12.690000,NaN,NaN,NaN,NaN
10,1993-02-12,44.87500,44.87500,44.59375,44.59375,25.403194,42500,12.380000,NaN,NaN,NaN,NaN
11,1993-02-16,44.46875,44.46875,43.40625,43.46875,24.762352,374800,15.760000,NaN,NaN,NaN,NaN
12,1993-02-17,43.46875,43.53125,43.28125,43.43750,24.744551,210900,15.900000,NaN,NaN,NaN,NaN
13,1993-02-18,43.93750,43.93750,42.81250,43.40625,24.726736,378100,15.560000,NaN,NaN,NaN,NaN
14,1993-02-19,43.40625,43.56250,43.34375,43.56250,24.815750,34900,15.020000,NaN,NaN,NaN,36.183605
15,1993-02-22,43.68750,43.78125,43.56250,43.71875,24.904753,513600,14.700000,NaN,NaN,NaN,40.686975
16,1993-02-23,43.84375,43.87500,43.46875,43.68750,24.886948,373700,15.040000,NaN,NaN,NaN,40.077825
17,1993-02-24,43.71875,44.25000,43.71875,44.25000,25.207394,26300,14.720000,NaN,NaN,NaN,53.556588
18,1993-02-25,44.21875,44.37500,44.12500,44.34375,25.260784,44500,13.760000,NaN,NaN,NaN,55.358903
19,1993-02-26,44.43750,44.43750,44.18750,44.40625,25.296387,66200,13.160000,NaN,NaN,NaN,56.568945
20,1993-03-01,44.56250,44.56250,44.21875,44.28125,25.225187,66500,13.600000,NaN,NaN,NaN,53.448505
21,1993-03-02,44.31250,44.93750,44.25000,44.93750,25.599031,182400,12.490000,NaN,NaN,NaN,64.515319
22,1993-03-03,45.00000,45.15625,44.93750,45.12500,25.705843,280100,13.130000,NaN,NaN,NaN,66.934046
23,1993-03-04,45.18750,45.18750,44.87500,44.87500,25.563425,89500,13.440000,NaN,NaN,NaN,60.966941
24,1993-03-05,44.93750,45.12500,44.71875,44.75000,25.492218,40000,14.080000,NaN,NaN,NaN,58.174378
25,1993-03-08,44.84375,45.75000,44.84375,45.75000,26.061878,50800,16.219999,0.281768,NaN,NaN,70.009387
26,1993-03-09,45.65625,45.68750,45.50000,45.59375,25.972864,169300,14.170000,0.331231,NaN,NaN,66.827491
27,1993-03-10,45.59375,45.68750,45.40625,45.68750,26.026270,194400,13.910000,0.373688,NaN,NaN,67.773888
28,1993-03-11,45.71875,45.84375,45.50000,45.56250,25.955059,70900,14.260000,0.392722,NaN,NaN,65.106755
29,1993-03-12,45.18750,45.21875,44.81250,45.09375,25.688046,643600,15.660000,0.365766,NaN,NaN,56.178467
30,1993-03-15,45.06250,45.31250,45.06250,45.31250,25.812656,310800,14.740000,0.357928,NaN,NaN,59.003846
31,1993-03-16,45.31250,45.43750,45.31250,45.31250,25.812656,30800,14.510000,0.347709,NaN,NaN,59.003846
32,1993-03-17,45.25000,45.25000,44.96875,45.03125,25.652433,21800,14.530000,0.313303,NaN,NaN,53.828762
33,1993-03-18,45.21875,45.50000,45.21875,45.31250,25.812656,59300,14.170000,0.305213,-0.035823,0.341036,57.813462
34,1993-03-19,45.28125,45.28125,45.03125,45.03125,25.773586,66900,13.230000,0.272961,-0.054460,0.327421,52.897133
35,1993-03-22,44.59375,44.87500,44.56250,44.78125,25.630501,183400,13.660000,0.224638,-0.082227,0.306865,48.915251
36,1993-03-23,44.90625,44.93750,44.81250,44.87500,25.684151,55200,13.020000,0.191697,-0.092134,0.283831,50.422405
37,1993-03-24,44.81250,45.06250,44.59375,44.87500,25.684151,37200,12.440000,0.163704,-0.096102,0.259806,50.422405
38,1993-03-25,44.90625,45.25000,44.84375,45.15625,25.845150,110100,12.080000,0.162342,-0.077971,0.240313,55.037759
39,1993-03-26,45.12500,45.15625,44.87500,44.90625,25.702049,101500,12.210000,0.139483,-0.080664,0.220147,50.534379

In [9]:
# clean data columns
spy.drop(columns=['MACD_12_26_9','MACDh_12_26_9'],inplace=True)
spy

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,25.029366,1003200,12.42,NaN,NaN
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,25.207394,480500,12.33,NaN,NaN
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,25.260784,201300,12.25,NaN,NaN
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,25.527815,529400,12.12,NaN,NaN
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,25.634636,531500,12.29,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7646,2023-06-12,430.920013,433.880005,430.170013,433.799988,432.194550,76104300,15.01,3.962775,70.253349
7647,2023-06-13,435.320007,437.329987,434.630005,436.660004,435.043976,95899700,14.61,4.285958,72.605045
7648,2023-06-14,437.010010,439.059998,433.589996,437.179993,435.562042,100612100,13.88,4.618694,73.022638
7649,2023-06-15,436.329987,443.899994,436.230011,442.600006,440.962006,110303100,14.50,5.015921,76.964263
7650,2023-06-16,443.019989,443.609985,438.970001,439.459991,439.459991,114121300,13.54,5.371217,70.534521

In [10]:
# remove columns with NaN values
spy = spy[spy['Date'] > '1993-03-17']
spy

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14
33,1993-03-18,45.218750,45.500000,45.218750,45.312500,25.812656,59300,14.17,0.341036,57.813462
34,1993-03-19,45.281250,45.281250,45.031250,45.031250,25.773586,66900,13.23,0.327421,52.897133
35,1993-03-22,44.593750,44.875000,44.562500,44.781250,25.630501,183400,13.66,0.306865,48.915251
36,1993-03-23,44.906250,44.937500,44.812500,44.875000,25.684151,55200,13.02,0.283831,50.422405
37,1993-03-24,44.812500,45.062500,44.593750,44.875000,25.684151,37200,12.44,0.259806,50.422405
...,...,...,...,...,...,...,...,...,...,...
7646,2023-06-12,430.920013,433.880005,430.170013,433.799988,432.194550,76104300,15.01,3.962775,70.253349
7647,2023-06-13,435.320007,437.329987,434.630005,436.660004,435.043976,95899700,14.61,4.285958,72.605045
7648,2023-06-14,437.010010,439.059998,433.589996,437.179993,435.562042,100612100,13.88,4.618694,73.022638
7649,2023-06-15,436.329987,443.899994,436.230011,442.600006,440.962006,110303100,14.50,5.015921,76.964263
7650,2023-06-16,443.019989,443.609985,438.970001,439.459991,439.459991,114121300,13.54,5.371217,70.534521

### Prepare to merge dataframe with additional data from other source

In [11]:
# create keys
spy['M DATE'] = spy['Date'].dt.strftime('%Y-%m')
spy['M QUARTER'] = pd.PeriodIndex(spy['M DATE'], freq='Q')
spy.head(80)

C:\Users\dhary\AppData\Local\Temp\ipykernel_14652\3352765509.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spy['M DATE'] = spy['Date'].dt.strftime('%Y-%m')
C:\Users\dhary\AppData\Local\Temp\ipykernel_14652\3352765509.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spy['M QUARTER'] = pd.PeriodIndex(spy['M DATE'], freq='Q')

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14,M DATE,M QUARTER
33,1993-03-18,45.21875,45.50000,45.21875,45.31250,25.812656,59300,14.17,0.341036,57.813462,1993-03,1993Q1
34,1993-03-19,45.28125,45.28125,45.03125,45.03125,25.773586,66900,13.23,0.327421,52.897133,1993-03,1993Q1
35,1993-03-22,44.59375,44.87500,44.56250,44.78125,25.630501,183400,13.66,0.306865,48.915251,1993-03,1993Q1
36,1993-03-23,44.90625,44.93750,44.81250,44.87500,25.684151,55200,13.02,0.283831,50.422405,1993-03,1993Q1
37,1993-03-24,44.81250,45.06250,44.59375,44.87500,25.684151,37200,12.44,0.259806,50.422405,1993-03,1993Q1
...,...,...,...,...,...,...,...,...,...,...,...,...
108,1993-07-06,44.62500,44.75000,44.15625,44.21875,25.487900,246400,13.87,-0.000144,40.183557,1993-07,1993Q3
109,1993-07-07,44.18750,44.40625,44.18750,44.34375,25.559977,343700,13.05,-0.016177,42.495815,1993-07,1993Q3
110,1993-07-08,44.37500,44.93750,44.31250,44.84375,25.848164,248200,12.24,-0.025727,50.704405,1993-07,1993Q3
111,1993-07-09,44.84375,44.96875,44.75000,44.96875,25.920214,378200,10.80,-0.028658,52.528820,1993-07,1993Q3
112,1993-07-12,44.90625,44.96875,44.84375,44.93750,25.902214,373700,10.85,-0.027722,52.010579,1993-07,1993Q3

## Obtain Economic Data from FRED. 
#### Short for Federal Reserve Economic Data, FRED is an online database consisting of hundreds of thousands of economic data time series from scores of national, international, public, and private sources.

#### Economists and investors are constantly watching for signs of what's immediately ahead for the markets and for the wider economy. <br>An indicator can be any statistic that is used to predict and understand financial or economic trends.<br> All indicators fall into one of three categories: Leading indicators, lagging indicators, and coincident indicators.

#### Leading indicators point toward possible future events.
#### The term "Housing Starts" refers to the start of construction on a new residential housing unit. <br>Because new housing is a big-ticket capital good that spurs additional consumer spending on appliances and furniture, it is a key economic indicator closely watched by financial markets participants.

In [12]:
df_housing_starts = pd.read_csv("HOUSTNSA.csv")
display(df_housing_starts.info())
df_housing_starts['DATE'] = pd.to_datetime(df_housing_starts['DATE']).dt.strftime('%Y-%m')
df_housing_starts.rename(columns = {'DATE':'M DATE'}, inplace = True)
display(df_housing_starts.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      772 non-null    object
 1   HOUSTNSA  772 non-null    float64
dtypes: float64(1), object(1)
memory usage: 12.2+ KB

None

    M DATE  HOUSTNSA
0  1959-01      96.2
1  1959-02      99.0
2  1959-03     127.7
3  1959-04     150.8
4  1959-05     152.5

#### Lagging indicators may confirm a pattern that is in progress.
#### The "Unemployment Rate" is one of the most reliable lagging indicators. If the unemployment rate rose last month and the month before, it indicates that the overall economy has been doing poorly and may well continue to do poorly.

In [13]:
df_unemployment = pd.read_csv("UNRATENSA.csv")
display(df_unemployment.info())
df_unemployment['DATE'] = pd.to_datetime(df_unemployment['DATE']).dt.strftime('%Y-%m')
df_unemployment.rename(columns = {'DATE':'M DATE'}, inplace = True)
display(df_unemployment.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       904 non-null    object
 1   UNRATENSA  904 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.2+ KB

None

    M DATE  UNRATENSA
0  1948-01        4.0
1  1948-02        4.7
2  1948-03        4.5
3  1948-04        4.0
4  1948-05        3.4

#### "Interest Rates" are based on the federal funds rate, which is determined by the Federal Open Market Committee (FOMC). <br>When interest rates increase, borrowers are more reluctant to take out loans. This discourages consumers from taking on debt and businesses from expanding, and as a result, GDP growth may become stagnant. <br>If interest rates are too low, that can lead to an increased demand for money and raise the likelihood of inflation.

In [14]:
df_ir = pd.read_csv("FEDFUNDS.csv")
display(df_ir.info())
df_ir['DATE'] = pd.to_datetime(df_ir['DATE']).dt.strftime('%Y-%m')
df_ir.rename(columns = {'DATE':'M DATE'}, inplace = True)
display(df_ir.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827 entries, 0 to 826
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      827 non-null    object
 1   FEDFUNDS  827 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.0+ KB

None

    M DATE  FEDFUNDS
0  1954-07      0.80
1  1954-08      1.22
2  1954-09      1.07
3  1954-10      0.85
4  1954-11      0.83

#### Coincident indicators occur in real-time and help clarify the state of the economy.
#### Gross domestic product ("GDP") is one of the most widely used indicators of economic performance. GDP measures a national economy's total output in a given period and is seasonally adjusted to eliminate quarterly variations based on climate or holidays.

In [15]:
df_gdp = pd.read_csv("NA000334Q.csv")
display(df_gdp.info())
df_gdp['DATE'] = pd.to_datetime(df_gdp['DATE']).dt.strftime('%Y-%m')
df_gdp['DATE'] = pd.PeriodIndex(df_gdp['DATE'], freq='Q')
df_gdp.rename(columns = {'DATE':'M QUARTER'}, inplace = True)
display(df_gdp.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       305 non-null    object
 1   NA000334Q  305 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB

None

    M QUARTER  NA000334Q
300    2022Q1  6010733.0
301    2022Q2  6352982.0
302    2022Q3  6439154.0
303    2022Q4  6655020.0
304    2023Q1  6475560.0

In [16]:
# merging data
spy = spy.merge(df_housing_starts)
display(spy.head())
spy.info()

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14,M DATE,M QUARTER,HOUSTNSA
0,1993-03-18,45.21875,45.50000,45.21875,45.31250,25.812656,59300,14.17,0.341036,57.813462,1993-03,1993Q1,95.5
1,1993-03-19,45.28125,45.28125,45.03125,45.03125,25.773586,66900,13.23,0.327421,52.897133,1993-03,1993Q1,95.5
2,1993-03-22,44.59375,44.87500,44.56250,44.78125,25.630501,183400,13.66,0.306865,48.915251,1993-03,1993Q1,95.5
3,1993-03-23,44.90625,44.93750,44.81250,44.87500,25.684151,55200,13.02,0.283831,50.422405,1993-03,1993Q1,95.5
4,1993-03-24,44.81250,45.06250,44.59375,44.87500,25.684151,37200,12.44,0.259806,50.422405,1993-03,1993Q1,95.5

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7584 entries, 0 to 7583
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7584 non-null   datetime64[ns]
 1   Open           7584 non-null   float64
 2   High           7584 non-null   float64
 3   Low            7584 non-null   float64
 4   Close          7584 non-null   float64
 5   Adj Close      7584 non-null   float64
 6   Volume         7584 non-null   int64
 7   VIX Close      7584 non-null   float64
 8   MACDs_12_26_9  7584 non-null   float64
 9   RSI_14         7584 non-null   float64
 10  M DATE         7584 non-null   object
 11  M QUARTER      7584 non-null   period[Q-DEC]
 12  HOUSTNSA       7584 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(1), period[Q-DEC](1)
memory usage: 829.5+ KB

In [17]:
# merging data
spy = spy.merge(df_unemployment)
display(spy.tail(60))
spy.info()

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14,M DATE,M QUARTER,HOUSTNSA,UNRATENSA
7524,2023-02-02,414.859985,418.309998,412.880005,416.779999,413.658813,101654500,18.730000,3.710597,69.211184,2023-02,2023Q1,103.2,3.9
7525,2023-02-03,411.589996,416.970001,411.089996,412.350006,409.262024,94736800,18.330000,4.143924,63.495513,2023-02,2023Q1,103.2,3.9
7526,2023-02-06,409.790009,411.290009,408.100006,409.829987,406.760864,60295300,19.430000,4.479777,60.437878,2023-02,2023Q1,103.2,3.9
7527,2023-02-07,408.869995,416.489990,407.570007,415.190002,412.080719,90990700,18.660000,4.812235,64.368193,2023-02,2023Q1,103.2,3.9
7528,2023-02-08,413.130005,414.529999,409.929993,410.649994,407.574738,76227500,19.629999,5.041736,59.019829,2023-02,2023Q1,103.2,3.9
7529,2023-02-09,414.410004,414.570007,405.809998,407.089996,404.041382,78694900,20.709999,5.126385,55.150157,2023-02,2023Q1,103.2,3.9
7530,2023-02-10,405.859985,408.440002,405.010010,408.040009,404.984283,70769700,20.530001,5.119280,55.979614,2023-02,2023Q1,103.2,3.9
7531,2023-02-13,408.720001,412.970001,408.239990,412.829987,409.738373,64913500,20.340000,5.119791,59.996759,2023-02,2023Q1,103.2,3.9
7532,2023-02-14,411.239990,415.049988,408.510010,412.640015,409.549835,88389300,18.910000,5.110348,59.763820,2023-02,2023Q1,103.2,3.9
7533,2023-02-15,410.350006,414.059998,409.470001,413.980011,410.879822,61555700,18.230000,5.104894,60.916496,2023-02,2023Q1,103.2,3.9
7534,2023-02-16,408.790009,412.910004,408.140015,408.279999,405.222473,76431500,20.170000,4.999649,53.849585,2023-02,2023Q1,103.2,3.9
7535,2023-02-17,406.059998,407.510010,404.049988,407.260010,404.210144,89257800,20.020000,4.809707,52.672035,2023-02,2023Q1,103.2,3.9
7536,2023-02-21,403.059998,404.160004,398.820007,399.089996,396.101318,82655900,22.870001,4.435324,44.313263,2023-02,2023Q1,103.2,3.9
7537,2023-02-22,399.519989,401.130005,397.019989,398.540009,395.555420,83742300,22.290001,3.946080,43.809248,2023-02,2023Q1,103.2,3.9
7538,2023-02-23,401.559998,402.200012,396.250000,400.660004,397.659546,96242400,21.139999,3.435320,46.342656,2023-02,2023Q1,103.2,3.9
7539,2023-02-24,395.420013,397.250000,393.640015,396.380005,393.411591,108194400,21.670000,2.861733,42.205492,2023-02,2023Q1,103.2,3.9
7540,2023-02-27,399.869995,401.290009,396.750000,397.730011,394.751495,80444700,20.950001,2.293853,43.906518,2023-02,2023Q1,103.2,3.9
7541,2023-02-28,397.230011,399.279999,396.149994,396.260010,393.292511,96438600,20.700001,1.730638,42.441700,2023-02,2023Q1,103.2,3.9
7542,2023-03-01,395.410004,396.690002,393.380005,394.739990,391.783875,99706800,20.580000,1.171676,40.921426,2023-03,2023Q1,113.6,3.6
7543,2023-03-02,392.679993,398.690002,392.329987,397.809998,394.830902,85127800,19.590000,0.690990,45.191650,2023-03,2023Q1,113.6,3.6
7544,2023-03-03,399.709991,404.450012,399.029999,404.190002,401.163116,90120000,18.490000,0.384780,52.823239,2023-03,2023Q1,113.6,3.6
7545,2023-03-06,405.049988,407.450012,404.010010,404.470001,401.441010,72795900,18.610001,0.207570,53.131677,2023-03,2023Q1,113.6,3.6
7546,2023-03-07,404.420013,404.670013,397.630005,398.269989,395.287445,108310600,19.590000,0.021114,45.965430,2023-03,2023Q1,113.6,3.6
7547,2023-03-08,398.390015,399.709991,396.589996,398.920013,395.932587,74746600,19.110001,-0.151041,46.775957,2023-03,2023Q1,113.6,3.6
7548,2023-03-09,399.739990,401.480011,390.529999,391.559998,388.627686,111945300,22.610001,-0.422288,39.543229,2023-03,2023Q1,113.6,3.6
7549,2023-03-10,390.989990,393.160004,384.320007,385.910004,383.020020,189253000,24.799999,-0.830605,35.061333,2023-03,2023Q1,113.6,3.6
7550,2023-03-13,381.809998,390.390015,380.649994,385.359985,382.474121,157790000,26.520000,-1.310311,34.649613,2023-03,2023Q1,113.6,3.6
7551,2023-03-14,390.500000,393.450012,387.049988,391.730011,388.796417,149752400,23.730000,-1.705000,42.998163,2023-03,2023Q1,113.6,3.6
7552,2023-03-15,385.890015,389.489990,383.709991,389.279999,386.364746,172996900,26.139999,-2.060914,40.837279,2023-03,2023Q1,113.6,3.6
7553,2023-03-16,386.820007,396.470001,386.290009,396.109985,393.143616,143254200,22.990000,-2.260201,48.593278,2023-03,2023Q1,113.6,3.6
7554,2023-03-17,393.220001,394.399994,388.549988,389.989990,388.546692,140553400,25.510000,-2.443359,43.136342,2023-03,2023Q1,113.6,3.6
7555,2023-03-20,390.799988,394.170013,390.070007,393.739990,392.282806,93055800,24.150000,-2.541410,47.059414,2023-03,2023Q1,113.6,3.6
7556,2023-03-21,397.239990,399.410004,395.579987,398.910004,397.433685,91524200,21.379999,-2.492699,51.978375,2023-03,2023Q1,113.6,3.6
7557,2023-03-22,398.730011,402.489990,392.070007,392.109985,390.658844,111746600,22.260000,-2.457364,45.933132,2023-03,2023Q1,113.6,3.6
7558,2023-03-23,395.089996,399.290009,390.350006,393.170013,391.714935,119351300,22.610001,-2.409752,46.968552,2023-03,2023Q1,113.6,3.6
7559,2023-03-24,391.839996,395.839996,389.399994,395.750000,394.285400,107682400,21.740000,-2.310286,49.503290,2023-03,2023Q1,113.6,3.6
7560,2023-03-27,398.119995,398.920013,395.559998,396.489990,395.022644,74010400,20.600000,-2.166462,50.237958,2023-03,2023Q1,113.6,3.6
7561,2023-03-28,395.769989,396.489990,393.690002,395.600006,394.135956,62871700,19.969999,-2.011635,49.308792,2023-03,2023Q1,113.6,3.6
7562,2023-03-29,399.929993,401.600006,398.679993,401.350006,399.864655,77497900,19.120001,-1.761706,55.088303,2023-03,2023Q1,113.6,3.6
7563,2023-03-30,404.089996,404.350006,401.760010,403.700012,402.205963,69840000,19.020000,-1.423762,57.234351,2023-03,2023Q1,113.6,3.6
7564,2023-03-31,404.660004,409.700012,404.549988,409.390015,407.874908,112062600,18.700001,-0.954342,61.972472,2023-03,2023Q1,113.6,3.6
7565,2023-04-03,408.850006,411.369995,408.440002,410.950012,409.429138,67391100,18.549999,-0.400059,63.177025,2023-04,2023Q2,127.1,3.1
7566,2023-04-04,411.619995,411.920013,407.239990,408.670013,407.157593,66601500,19.000000,0.142894,60.176809,2023-04,2023Q2,127.1,3.1
7567,2023-04-05,407.910004,408.700012,405.880005,407.600006,406.091553,65200200,19.080000,0.632886,58.766355,2023-04,2023Q2,127.1,3.1
7568,2023-04-06,406.769989,409.480011,405.679993,409.190002,407.675659,63743300,18.400000,1.087921,60.257034,2023-04,2023Q2,127.1,3.1
7569,2023-04-10,406.609985,409.690002,405.970001,409.609985,408.094086,63681000,18.969999,1.501414,60.661581,2023-04,2023Q2,127.1,3.1
7570,2023-04-11,410.260010,411.179993,408.920013,409.720001,408.203674,59297900,19.100000,1.865526,60.774221,2023-04,2023Q2,127.1,3.1
7571,2023-04-12,411.869995,412.170013,407.440002,408.049988,406.539856,86420400,19.090000,2.148704,58.056694,2023-04,2023Q2,127.1,3.1
7572,2023-04-13,409.179993,413.839996,407.989990,413.470001,411.939819,85814800,17.799999,2.447885,63.725831,2023-04,2023Q2,127.1,3.1
7573,2023-04-14,412.809998,415.089996,410.059998,412.459991,410.933533,78161500,17.070000,2.719720,62.042938,2023-04,2023Q2,127.1,3.1
7574,2023-04-17,412.369995,413.959991,411.089996,413.940002,412.408081,66436400,16.950001,2.977578,63.561477,2023-04,2023Q2,127.1,3.1
7575,2023-04-18,415.579987,415.720001,412.779999,414.209991,412.677063,63560000,16.830000,3.210680,63.845635,2023-04,2023Q2,127.1,3.1
7576,2023-04-19,412.220001,415.079987,412.160004,414.140015,412.607330,55227300,16.459999,3.407611,63.706966,2023-04,2023Q2,127.1,3.1
7577,2023-04-20,411.209991,413.700012,410.269989,411.880005,410.355713,75840400,17.170000,3.527723,59.232430,2023-04,2023Q2,127.1,3.1
7578,2023-04-21,412.190002,412.679993,410.170013,412.200012,410.674530,73457400,16.770000,3.590457,59.664430,2023-04,2023Q2,127.1,3.1
7579,2023-04-24,411.989990,413.070007,410.600006,412.630005,411.102936,64332100,16.889999,3.612614,60.273594,2023-04,2023Q2,127.1,3.1
7580,2023-04-25,410.579987,411.160004,406.019989,406.079987,404.577148,97766700,18.760000,3.495441,48.305867,2023-04,2023Q2,127.1,3.1
7581,2023-04-26,406.720001,407.839996,403.779999,404.359985,402.863495,80447000,18.840000,3.261674,45.737663,2023-04,2023Q2,127.1,3.1
7582,2023-04-27,407.000000,412.690002,406.739990,412.410004,410.883728,92968400,17.030001,3.088081,57.205268,2023-04,2023Q2,127.1,3.1
7583,2023-04-28,411.489990,415.940002,411.429993,415.929993,414.390686,89335600,15.780000,3.010425,61.078657,2023-04,2023Q2,127.1,3.1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7584 entries, 0 to 7583
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7584 non-null   datetime64[ns]
 1   Open           7584 non-null   float64
 2   High           7584 non-null   float64
 3   Low            7584 non-null   float64
 4   Close          7584 non-null   float64
 5   Adj Close      7584 non-null   float64
 6   Volume         7584 non-null   int64
 7   VIX Close      7584 non-null   float64
 8   MACDs_12_26_9  7584 non-null   float64
 9   RSI_14         7584 non-null   float64
 10  M DATE         7584 non-null   object
 11  M QUARTER      7584 non-null   period[Q-DEC]
 12  HOUSTNSA       7584 non-null   float64
 13  UNRATENSA      7584 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(1), period[Q-DEC](1)
memory usage: 888.8+ KB

In [18]:
# merging data
spy = spy.merge(df_gdp)
display(spy.tail(60))
spy.info()

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14,M DATE,M QUARTER,HOUSTNSA,UNRATENSA,NA000334Q
7505,2023-01-05,381.720001,381.839996,378.760010,379.380005,376.538910,76970500,22.459999,-2.563926,42.783681,2023-01,2023Q1,97.7,3.9,6475560.0
7506,2023-01-06,382.609985,389.250000,379.410004,388.079987,385.173737,104189600,21.129999,-2.566912,51.312029,2023-01,2023Q1,97.7,3.9,6475560.0
7507,2023-01-09,390.369995,393.700012,387.670013,387.859985,384.955383,73978100,21.969999,-2.469234,51.104587,2023-01,2023Q1,97.7,3.9,6475560.0
7508,2023-01-10,387.250000,390.649994,386.269989,390.579987,387.655029,65358100,20.580000,-2.264559,53.602081,2023-01,2023Q1,97.7,3.9,6475560.0
7509,2023-01-11,392.230011,395.600006,391.380005,395.519989,392.558014,68881100,21.090000,-1.919573,57.816358,2023-01,2023Q1,97.7,3.9,6475560.0
7510,2023-01-12,396.670013,398.489990,392.420013,396.959991,393.987244,90157700,18.830000,-1.477377,58.985802,2023-01,2023Q1,97.7,3.9,6475560.0
7511,2023-01-13,393.619995,399.100006,393.339996,398.500000,395.515717,63903900,18.350000,-0.969497,60.254811,2023-01,2023Q1,97.7,3.9,6475560.0
7512,2023-01-17,398.480011,400.230011,397.059998,397.769989,394.791199,62677300,19.360001,-0.456508,59.317881,2023-01,2023Q1,97.7,3.9,6475560.0
7513,2023-01-18,399.010010,400.119995,391.279999,391.489990,388.558197,99632300,20.340000,-0.066361,51.848776,2023-01,2023Q1,97.7,3.9,6475560.0
7514,2023-01-19,389.359985,391.079987,387.260010,388.640015,385.729584,86958900,20.520000,0.181020,48.843033,2023-01,2023Q1,97.7,3.9,6475560.0
7515,2023-01-20,390.100006,396.040009,388.380005,395.880005,392.915344,91806400,19.850000,0.441047,55.845761,2023-01,2023Q1,97.7,3.9,6475560.0
7516,2023-01-23,396.720001,402.649994,395.720001,400.630005,397.629791,84178800,19.809999,0.770147,59.739623,2023-01,2023Q1,97.7,3.9,6475560.0
7517,2023-01-24,398.880005,401.149994,397.640015,400.200012,397.203003,59524900,19.200001,1.116674,59.230404,2023-01,2023Q1,97.7,3.9,6475560.0
7518,2023-01-25,395.950012,400.700012,393.559998,400.350006,397.351868,84800300,19.080000,1.455806,59.360537,2023-01,2023Q1,97.7,3.9,6475560.0
7519,2023-01-26,403.130005,404.920013,400.029999,404.750000,401.718903,72287400,18.730000,1.839406,63.083082,2023-01,2023Q1,97.7,3.9,6475560.0
7520,2023-01-27,403.660004,408.160004,403.440002,405.679993,402.641937,68346200,18.510000,2.241414,63.837075,2023-01,2023Q1,97.7,3.9,6475560.0
7521,2023-01-30,402.799988,405.130005,400.279999,400.589996,397.590088,74202000,19.940001,2.547569,56.977909,2023-01,2023Q1,97.7,3.9,6475560.0
7522,2023-01-31,401.130005,406.529999,400.769989,406.480011,403.435974,86811800,19.400000,2.865762,62.058316,2023-01,2023Q1,97.7,3.9,6475560.0
7523,2023-02-01,405.209991,413.670013,402.350006,410.799988,407.723572,101459200,17.870001,3.237211,65.295331,2023-02,2023Q1,103.2,3.9,6475560.0
7524,2023-02-02,414.859985,418.309998,412.880005,416.779999,413.658813,101654500,18.730000,3.710597,69.211184,2023-02,2023Q1,103.2,3.9,6475560.0
7525,2023-02-03,411.589996,416.970001,411.089996,412.350006,409.262024,94736800,18.330000,4.143924,63.495513,2023-02,2023Q1,103.2,3.9,6475560.0
7526,2023-02-06,409.790009,411.290009,408.100006,409.829987,406.760864,60295300,19.430000,4.479777,60.437878,2023-02,2023Q1,103.2,3.9,6475560.0
7527,2023-02-07,408.869995,416.489990,407.570007,415.190002,412.080719,90990700,18.660000,4.812235,64.368193,2023-02,2023Q1,103.2,3.9,6475560.0
7528,2023-02-08,413.130005,414.529999,409.929993,410.649994,407.574738,76227500,19.629999,5.041736,59.019829,2023-02,2023Q1,103.2,3.9,6475560.0
7529,2023-02-09,414.410004,414.570007,405.809998,407.089996,404.041382,78694900,20.709999,5.126385,55.150157,2023-02,2023Q1,103.2,3.9,6475560.0
7530,2023-02-10,405.859985,408.440002,405.010010,408.040009,404.984283,70769700,20.530001,5.119280,55.979614,2023-02,2023Q1,103.2,3.9,6475560.0
7531,2023-02-13,408.720001,412.970001,408.239990,412.829987,409.738373,64913500,20.340000,5.119791,59.996759,2023-02,2023Q1,103.2,3.9,6475560.0
7532,2023-02-14,411.239990,415.049988,408.510010,412.640015,409.549835,88389300,18.910000,5.110348,59.763820,2023-02,2023Q1,103.2,3.9,6475560.0
7533,2023-02-15,410.350006,414.059998,409.470001,413.980011,410.879822,61555700,18.230000,5.104894,60.916496,2023-02,2023Q1,103.2,3.9,6475560.0
7534,2023-02-16,408.790009,412.910004,408.140015,408.279999,405.222473,76431500,20.170000,4.999649,53.849585,2023-02,2023Q1,103.2,3.9,6475560.0
7535,2023-02-17,406.059998,407.510010,404.049988,407.260010,404.210144,89257800,20.020000,4.809707,52.672035,2023-02,2023Q1,103.2,3.9,6475560.0
7536,2023-02-21,403.059998,404.160004,398.820007,399.089996,396.101318,82655900,22.870001,4.435324,44.313263,2023-02,2023Q1,103.2,3.9,6475560.0
7537,2023-02-22,399.519989,401.130005,397.019989,398.540009,395.555420,83742300,22.290001,3.946080,43.809248,2023-02,2023Q1,103.2,3.9,6475560.0
7538,2023-02-23,401.559998,402.200012,396.250000,400.660004,397.659546,96242400,21.139999,3.435320,46.342656,2023-02,2023Q1,103.2,3.9,6475560.0
7539,2023-02-24,395.420013,397.250000,393.640015,396.380005,393.411591,108194400,21.670000,2.861733,42.205492,2023-02,2023Q1,103.2,3.9,6475560.0
7540,2023-02-27,399.869995,401.290009,396.750000,397.730011,394.751495,80444700,20.950001,2.293853,43.906518,2023-02,2023Q1,103.2,3.9,6475560.0
7541,2023-02-28,397.230011,399.279999,396.149994,396.260010,393.292511,96438600,20.700001,1.730638,42.441700,2023-02,2023Q1,103.2,3.9,6475560.0
7542,2023-03-01,395.410004,396.690002,393.380005,394.739990,391.783875,99706800,20.580000,1.171676,40.921426,2023-03,2023Q1,113.6,3.6,6475560.0
7543,2023-03-02,392.679993,398.690002,392.329987,397.809998,394.830902,85127800,19.590000,0.690990,45.191650,2023-03,2023Q1,113.6,3.6,6475560.0
7544,2023-03-03,399.709991,404.450012,399.029999,404.190002,401.163116,90120000,18.490000,0.384780,52.823239,2023-03,2023Q1,113.6,3.6,6475560.0
7545,2023-03-06,405.049988,407.450012,404.010010,404.470001,401.441010,72795900,18.610001,0.207570,53.131677,2023-03,2023Q1,113.6,3.6,6475560.0
7546,2023-03-07,404.420013,404.670013,397.630005,398.269989,395.287445,108310600,19.590000,0.021114,45.965430,2023-03,2023Q1,113.6,3.6,6475560.0
7547,2023-03-08,398.390015,399.709991,396.589996,398.920013,395.932587,74746600,19.110001,-0.151041,46.775957,2023-03,2023Q1,113.6,3.6,6475560.0
7548,2023-03-09,399.739990,401.480011,390.529999,391.559998,388.627686,111945300,22.610001,-0.422288,39.543229,2023-03,2023Q1,113.6,3.6,6475560.0
7549,2023-03-10,390.989990,393.160004,384.320007,385.910004,383.020020,189253000,24.799999,-0.830605,35.061333,2023-03,2023Q1,113.6,3.6,6475560.0
7550,2023-03-13,381.809998,390.390015,380.649994,385.359985,382.474121,157790000,26.520000,-1.310311,34.649613,2023-03,2023Q1,113.6,3.6,6475560.0
7551,2023-03-14,390.500000,393.450012,387.049988,391.730011,388.796417,149752400,23.730000,-1.705000,42.998163,2023-03,2023Q1,113.6,3.6,6475560.0
7552,2023-03-15,385.890015,389.489990,383.709991,389.279999,386.364746,172996900,26.139999,-2.060914,40.837279,2023-03,2023Q1,113.6,3.6,6475560.0
7553,2023-03-16,386.820007,396.470001,386.290009,396.109985,393.143616,143254200,22.990000,-2.260201,48.593278,2023-03,2023Q1,113.6,3.6,6475560.0
7554,2023-03-17,393.220001,394.399994,388.549988,389.989990,388.546692,140553400,25.510000,-2.443359,43.136342,2023-03,2023Q1,113.6,3.6,6475560.0
7555,2023-03-20,390.799988,394.170013,390.070007,393.739990,392.282806,93055800,24.150000,-2.541410,47.059414,2023-03,2023Q1,113.6,3.6,6475560.0
7556,2023-03-21,397.239990,399.410004,395.579987,398.910004,397.433685,91524200,21.379999,-2.492699,51.978375,2023-03,2023Q1,113.6,3.6,6475560.0
7557,2023-03-22,398.730011,402.489990,392.070007,392.109985,390.658844,111746600,22.260000,-2.457364,45.933132,2023-03,2023Q1,113.6,3.6,6475560.0
7558,2023-03-23,395.089996,399.290009,390.350006,393.170013,391.714935,119351300,22.610001,-2.409752,46.968552,2023-03,2023Q1,113.6,3.6,6475560.0
7559,2023-03-24,391.839996,395.839996,389.399994,395.750000,394.285400,107682400,21.740000,-2.310286,49.503290,2023-03,2023Q1,113.6,3.6,6475560.0
7560,2023-03-27,398.119995,398.920013,395.559998,396.489990,395.022644,74010400,20.600000,-2.166462,50.237958,2023-03,2023Q1,113.6,3.6,6475560.0
7561,2023-03-28,395.769989,396.489990,393.690002,395.600006,394.135956,62871700,19.969999,-2.011635,49.308792,2023-03,2023Q1,113.6,3.6,6475560.0
7562,2023-03-29,399.929993,401.600006,398.679993,401.350006,399.864655,77497900,19.120001,-1.761706,55.088303,2023-03,2023Q1,113.6,3.6,6475560.0
7563,2023-03-30,404.089996,404.350006,401.760010,403.700012,402.205963,69840000,19.020000,-1.423762,57.234351,2023-03,2023Q1,113.6,3.6,6475560.0
7564,2023-03-31,404.660004,409.700012,404.549988,409.390015,407.874908,112062600,18.700001,-0.954342,61.972472,2023-03,2023Q1,113.6,3.6,6475560.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7565 entries, 0 to 7564
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7565 non-null   datetime64[ns]
 1   Open           7565 non-null   float64
 2   High           7565 non-null   float64
 3   Low            7565 non-null   float64
 4   Close          7565 non-null   float64
 5   Adj Close      7565 non-null   float64
 6   Volume         7565 non-null   int64
 7   VIX Close      7565 non-null   float64
 8   MACDs_12_26_9  7565 non-null   float64
 9   RSI_14         7565 non-null   float64
 10  M DATE         7565 non-null   object
 11  M QUARTER      7565 non-null   period[Q-DEC]
 12  HOUSTNSA       7565 non-null   float64
 13  UNRATENSA      7565 non-null   float64
 14  NA000334Q      7565 non-null   float64
dtypes: datetime64[ns](1), float64(11), int64(1), object(1), period[Q-DEC](1)
memory usage: 945.6+ KB

In [19]:
# merging data
spy = spy.merge(df_ir)
display(spy.tail(60))
spy.info()

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14,M DATE,M QUARTER,HOUSTNSA,UNRATENSA,NA000334Q,FEDFUNDS
7505,2023-01-05,381.720001,381.839996,378.760010,379.380005,376.538910,76970500,22.459999,-2.563926,42.783681,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7506,2023-01-06,382.609985,389.250000,379.410004,388.079987,385.173737,104189600,21.129999,-2.566912,51.312029,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7507,2023-01-09,390.369995,393.700012,387.670013,387.859985,384.955383,73978100,21.969999,-2.469234,51.104587,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7508,2023-01-10,387.250000,390.649994,386.269989,390.579987,387.655029,65358100,20.580000,-2.264559,53.602081,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7509,2023-01-11,392.230011,395.600006,391.380005,395.519989,392.558014,68881100,21.090000,-1.919573,57.816358,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7510,2023-01-12,396.670013,398.489990,392.420013,396.959991,393.987244,90157700,18.830000,-1.477377,58.985802,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7511,2023-01-13,393.619995,399.100006,393.339996,398.500000,395.515717,63903900,18.350000,-0.969497,60.254811,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7512,2023-01-17,398.480011,400.230011,397.059998,397.769989,394.791199,62677300,19.360001,-0.456508,59.317881,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7513,2023-01-18,399.010010,400.119995,391.279999,391.489990,388.558197,99632300,20.340000,-0.066361,51.848776,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7514,2023-01-19,389.359985,391.079987,387.260010,388.640015,385.729584,86958900,20.520000,0.181020,48.843033,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7515,2023-01-20,390.100006,396.040009,388.380005,395.880005,392.915344,91806400,19.850000,0.441047,55.845761,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7516,2023-01-23,396.720001,402.649994,395.720001,400.630005,397.629791,84178800,19.809999,0.770147,59.739623,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7517,2023-01-24,398.880005,401.149994,397.640015,400.200012,397.203003,59524900,19.200001,1.116674,59.230404,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7518,2023-01-25,395.950012,400.700012,393.559998,400.350006,397.351868,84800300,19.080000,1.455806,59.360537,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7519,2023-01-26,403.130005,404.920013,400.029999,404.750000,401.718903,72287400,18.730000,1.839406,63.083082,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7520,2023-01-27,403.660004,408.160004,403.440002,405.679993,402.641937,68346200,18.510000,2.241414,63.837075,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7521,2023-01-30,402.799988,405.130005,400.279999,400.589996,397.590088,74202000,19.940001,2.547569,56.977909,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7522,2023-01-31,401.130005,406.529999,400.769989,406.480011,403.435974,86811800,19.400000,2.865762,62.058316,2023-01,2023Q1,97.7,3.9,6475560.0,4.33
7523,2023-02-01,405.209991,413.670013,402.350006,410.799988,407.723572,101459200,17.870001,3.237211,65.295331,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7524,2023-02-02,414.859985,418.309998,412.880005,416.779999,413.658813,101654500,18.730000,3.710597,69.211184,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7525,2023-02-03,411.589996,416.970001,411.089996,412.350006,409.262024,94736800,18.330000,4.143924,63.495513,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7526,2023-02-06,409.790009,411.290009,408.100006,409.829987,406.760864,60295300,19.430000,4.479777,60.437878,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7527,2023-02-07,408.869995,416.489990,407.570007,415.190002,412.080719,90990700,18.660000,4.812235,64.368193,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7528,2023-02-08,413.130005,414.529999,409.929993,410.649994,407.574738,76227500,19.629999,5.041736,59.019829,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7529,2023-02-09,414.410004,414.570007,405.809998,407.089996,404.041382,78694900,20.709999,5.126385,55.150157,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7530,2023-02-10,405.859985,408.440002,405.010010,408.040009,404.984283,70769700,20.530001,5.119280,55.979614,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7531,2023-02-13,408.720001,412.970001,408.239990,412.829987,409.738373,64913500,20.340000,5.119791,59.996759,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7532,2023-02-14,411.239990,415.049988,408.510010,412.640015,409.549835,88389300,18.910000,5.110348,59.763820,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7533,2023-02-15,410.350006,414.059998,409.470001,413.980011,410.879822,61555700,18.230000,5.104894,60.916496,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7534,2023-02-16,408.790009,412.910004,408.140015,408.279999,405.222473,76431500,20.170000,4.999649,53.849585,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7535,2023-02-17,406.059998,407.510010,404.049988,407.260010,404.210144,89257800,20.020000,4.809707,52.672035,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7536,2023-02-21,403.059998,404.160004,398.820007,399.089996,396.101318,82655900,22.870001,4.435324,44.313263,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7537,2023-02-22,399.519989,401.130005,397.019989,398.540009,395.555420,83742300,22.290001,3.946080,43.809248,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7538,2023-02-23,401.559998,402.200012,396.250000,400.660004,397.659546,96242400,21.139999,3.435320,46.342656,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7539,2023-02-24,395.420013,397.250000,393.640015,396.380005,393.411591,108194400,21.670000,2.861733,42.205492,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7540,2023-02-27,399.869995,401.290009,396.750000,397.730011,394.751495,80444700,20.950001,2.293853,43.906518,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7541,2023-02-28,397.230011,399.279999,396.149994,396.260010,393.292511,96438600,20.700001,1.730638,42.441700,2023-02,2023Q1,103.2,3.9,6475560.0,4.57
7542,2023-03-01,395.410004,396.690002,393.380005,394.739990,391.783875,99706800,20.580000,1.171676,40.921426,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7543,2023-03-02,392.679993,398.690002,392.329987,397.809998,394.830902,85127800,19.590000,0.690990,45.191650,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7544,2023-03-03,399.709991,404.450012,399.029999,404.190002,401.163116,90120000,18.490000,0.384780,52.823239,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7545,2023-03-06,405.049988,407.450012,404.010010,404.470001,401.441010,72795900,18.610001,0.207570,53.131677,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7546,2023-03-07,404.420013,404.670013,397.630005,398.269989,395.287445,108310600,19.590000,0.021114,45.965430,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7547,2023-03-08,398.390015,399.709991,396.589996,398.920013,395.932587,74746600,19.110001,-0.151041,46.775957,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7548,2023-03-09,399.739990,401.480011,390.529999,391.559998,388.627686,111945300,22.610001,-0.422288,39.543229,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7549,2023-03-10,390.989990,393.160004,384.320007,385.910004,383.020020,189253000,24.799999,-0.830605,35.061333,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7550,2023-03-13,381.809998,390.390015,380.649994,385.359985,382.474121,157790000,26.520000,-1.310311,34.649613,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7551,2023-03-14,390.500000,393.450012,387.049988,391.730011,388.796417,149752400,23.730000,-1.705000,42.998163,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7552,2023-03-15,385.890015,389.489990,383.709991,389.279999,386.364746,172996900,26.139999,-2.060914,40.837279,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7553,2023-03-16,386.820007,396.470001,386.290009,396.109985,393.143616,143254200,22.990000,-2.260201,48.593278,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7554,2023-03-17,393.220001,394.399994,388.549988,389.989990,388.546692,140553400,25.510000,-2.443359,43.136342,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7555,2023-03-20,390.799988,394.170013,390.070007,393.739990,392.282806,93055800,24.150000,-2.541410,47.059414,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7556,2023-03-21,397.239990,399.410004,395.579987,398.910004,397.433685,91524200,21.379999,-2.492699,51.978375,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7557,2023-03-22,398.730011,402.489990,392.070007,392.109985,390.658844,111746600,22.260000,-2.457364,45.933132,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7558,2023-03-23,395.089996,399.290009,390.350006,393.170013,391.714935,119351300,22.610001,-2.409752,46.968552,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7559,2023-03-24,391.839996,395.839996,389.399994,395.750000,394.285400,107682400,21.740000,-2.310286,49.503290,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7560,2023-03-27,398.119995,398.920013,395.559998,396.489990,395.022644,74010400,20.600000,-2.166462,50.237958,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7561,2023-03-28,395.769989,396.489990,393.690002,395.600006,394.135956,62871700,19.969999,-2.011635,49.308792,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7562,2023-03-29,399.929993,401.600006,398.679993,401.350006,399.864655,77497900,19.120001,-1.761706,55.088303,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7563,2023-03-30,404.089996,404.350006,401.760010,403.700012,402.205963,69840000,19.020000,-1.423762,57.234351,2023-03,2023Q1,113.6,3.6,6475560.0,4.65
7564,2023-03-31,404.660004,409.700012,404.549988,409.390015,407.874908,112062600,18.700001,-0.954342,61.972472,2023-03,2023Q1,113.6,3.6,6475560.0,4.65

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7565 entries, 0 to 7564
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7565 non-null   datetime64[ns]
 1   Open           7565 non-null   float64
 2   High           7565 non-null   float64
 3   Low            7565 non-null   float64
 4   Close          7565 non-null   float64
 5   Adj Close      7565 non-null   float64
 6   Volume         7565 non-null   int64
 7   VIX Close      7565 non-null   float64
 8   MACDs_12_26_9  7565 non-null   float64
 9   RSI_14         7565 non-null   float64
 10  M DATE         7565 non-null   object
 11  M QUARTER      7565 non-null   period[Q-DEC]
 12  HOUSTNSA       7565 non-null   float64
 13  UNRATENSA      7565 non-null   float64
 14  NA000334Q      7565 non-null   float64
 15  FEDFUNDS       7565 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1), period[Q-DEC](1)
memory usage: 1004.7+ KB

In [20]:
# clean data columns
spy.drop(columns=['M DATE','M QUARTER'],inplace=True)
spy

,Date,Open,High,Low,Close,Adj Close,Volume,VIX Close,MACDs_12_26_9,RSI_14,HOUSTNSA,UNRATENSA,NA000334Q,FEDFUNDS
0,1993-03-18,45.218750,45.500000,45.218750,45.312500,25.812656,59300,14.170000,0.341036,57.813462,95.5,7.4,1638139.0,3.07
1,1993-03-19,45.281250,45.281250,45.031250,45.031250,25.773586,66900,13.230000,0.327421,52.897133,95.5,7.4,1638139.0,3.07
2,1993-03-22,44.593750,44.875000,44.562500,44.781250,25.630501,183400,13.660000,0.306865,48.915251,95.5,7.4,1638139.0,3.07
3,1993-03-23,44.906250,44.937500,44.812500,44.875000,25.684151,55200,13.020000,0.283831,50.422405,95.5,7.4,1638139.0,3.07
4,1993-03-24,44.812500,45.062500,44.593750,44.875000,25.684151,37200,12.440000,0.259806,50.422405,95.5,7.4,1638139.0,3.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7560,2023-03-27,398.119995,398.920013,395.559998,396.489990,395.022644,74010400,20.600000,-2.166462,50.237958,113.6,3.6,6475560.0,4.65
7561,2023-03-28,395.769989,396.489990,393.690002,395.600006,394.135956,62871700,19.969999,-2.011635,49.308792,113.6,3.6,6475560.0,4.65
7562,2023-03-29,399.929993,401.600006,398.679993,401.350006,399.864655,77497900,19.120001,-1.761706,55.088303,113.6,3.6,6475560.0,4.65
7563,2023-03-30,404.089996,404.350006,401.760010,403.700012,402.205963,69840000,19.020000,-1.423762,57.234351,113.6,3.6,6475560.0,4.65
7564,2023-03-31,404.660004,409.700012,404.549988,409.390015,407.874908,112062600,18.700001,-0.954342,61.972472,113.6,3.6,6475560.0,4.65

In [21]:
# final overview of df
spy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7565 entries, 0 to 7564
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7565 non-null   datetime64[ns]
 1   Open           7565 non-null   float64
 2   High           7565 non-null   float64
 3   Low            7565 non-null   float64
 4   Close          7565 non-null   float64
 5   Adj Close      7565 non-null   float64
 6   Volume         7565 non-null   int64
 7   VIX Close      7565 non-null   float64
 8   MACDs_12_26_9  7565 non-null   float64
 9   RSI_14         7565 non-null   float64
 10  HOUSTNSA       7565 non-null   float64
 11  UNRATENSA      7565 non-null   float64
 12  NA000334Q      7565 non-null   float64
 13  FEDFUNDS       7565 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 886.5 KB

In [22]:
# export out dataset
spy.to_csv('spy.csv',index=False)